* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #84482D;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  color: #1C1D1F;
}

.text-container {
  display: flex;
  justify-content: space-around;
}

.image-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid #BE6841;
  padding: 20px;
}

img {
  width: 150px;
  margin: 10px;
}
